<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<title>解除绑定</title>
<link href="{$Think.const.CSS_URL}layout.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="login">
  <div class="logo"></div>
  <form name="form1" action="" method="post" id="form1">
  	<label class="button">学号</label>
  	<span class="button text" style="display:inline-block;">{$users.usr_no}</span>
  	<label class="button">姓名</label>
  	<span class="button text" style="display:inline-block;">{$users.usr_name}</span>
  	<input type="submit" name="submit" class="button" id="submit" value="解除绑定"/>
  </form>
  </div>
</body>
</html>
