<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
<title>全周课表</title>
<link href="{$Think.const.CSS_URL}layout.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="container" id="qzkb">
	<div class="header">    
        <div class="hd_right">
        	<div class="time"><?php echo  date('Y').'年'.date('m').'月'.date('d').'日'; ?></div>        	    
        </div>
        <div class="hd_left font-title">全周课表</div>
    </div>
  {$kcb}
</div>
</body>
</html>
